<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jgstudios.bootstraplite" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name short="BootstrapLite">Bootstrap Assistant Lite</name>
    <description>
        A reference app to help you build websites with Bootstrap Framework
    </description>
    <author email="support@jgstudios.space" href="http://jgstudios.space">
        JG Studios
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <gap:platform name="android" />

    <preference name="permissions" value="none" />

    <preference name="phonegap-version" value="3.1.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="android-minSdkVersion" ="19" />
    <preference name="android-targetSdkVersion" = "28" />
    <preference name="android-installLocation" = "auto" />

    <icon src="icon.png" />

    <access origin="http://127.0.0.1*" />
    <access origin="*" />

    <content src="index.html" />

    <plugin name="cordova-plugin-whitelist" spec="1" />

    <access origin="*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
